#side{
    
    grid-area: sd;
}
#next{
    
    grid-area: sp;
}
#box{
    
    overflow: scroll;
    grid-area: main;
}
section{
border:1px red;


}
section img{
    border-radius:50%;
}
.bio{
float:right;
font-size: 25px;
color:rgba(0, 0, 0, 0.603);
}

form{
    font-size: 25px;
}
.subscription{
    float:center;
    margin:90px;
    text-align: center;
}
input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }