
header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: normal;
    padding: 10px;
    color: rgb(89, 15, 228);
    grid-area: hd;
    background-color: rgb(243, 237, 237);

}
/* mobile screens*/ 
body{
    display:grid;
    height: 100vh;
    grid-template-areas: "hd " "sd" "main" "sp" "ft" ;
    border: 2px gray;
    grid-gap: 15px;
    background-color: white;

}

/* medium screens*/ 
@media (min-width: 600px) and (max-width: 1100px){
body{
    display:grid;
    grid-template-areas: "hd hd  hd hd hd hd hd " "sd main main main main main sp " " ft ft ft ft ft ft ft";
    grid-template-rows: 60px 800px 80px;
    grid-template-columns: 50px 300px 50px;
    border: 2px gray;
    grid-gap: 15px;
    background-color: white;
}
}
/* larger screens */
@media (max-width: 1101px){
body{
    display:grid;
    grid-template-areas: "hd hd  hd hd hd hd hd" "sd main main main main main sp " "ft ft ft ft ft ft ft";
    grid-template-rows: 60px 800px 80px;
    grid-template-columns: 50px 300px 50px;
    border: 2px gray;
    grid-gap: 15px;
    background-color: white;
}
}

#side{
    
    grid-area: sd;
}
#next{
    
    grid-area: sp;
}
#box{
    
    overflow:scroll;
    grid-area: main;
}
section{
border:1px red;


}
section img{
    border-radius:10%;
}
.bio{
float:right;
font-size: 23px;
color:rgba(15, 13, 12, 0.692);
}


.subscription{
    float:center;
    margin:90px;
    text-align: center;
}


#icon{
    float:center;
    margin-right:10px;
    font-size:28px;
    color:blue;
}
.follow{
    text-align: center; 
    font-size: 20px;
    float: center;
}
footer button{
    padding:5px; 
    font-size: 15px;
    border-radius:20px;
    float:right;
    margin-right:80px;
    font-size: 18px;
    color: rgb(42, 16, 212);
    background-color: tomato;
}
footer{
    grid-area: ft;
    background-color: whitesmoke;
}